<h1><%= @event.name %></h1>
<h5>イベント内容</h5>
<p><%= @event.content %></p>
<h5>開催時間</h5>
<p><%= "#{l(@event.start_at, format: :long)} - #{l(@event.end_at, format: :long)}" %></p>
<h5>開催場所</h5>
<p><%= @event.place %></p>
<h5>主催者</h5>
<% if @event.owner %>
  <p><%= @event.owner.name %></p>
<% else%>
  退会したユーザーです。
<% end %>

<% if @event.created_by?(current_user) %>
  <%= link_to "イベントを編集する", edit_event_path(@event), class: "" %>
  <%= link_to "イベントを削除する", event_path(@event), class: "", method: :delete, data: {confirm: "本当に削除しますか？" } %>
<% end %>

<% if @ticket %>
  <%= link_to "参加をキャンセルする", event_ticket_path(@event, @ticket), method: :delete, class: "" %>
<% elsif user_signed_in? %>
  <%= form_with(model: @event.tickets.build, url: event_tickets_path(@event)) do |f| %>
    <div id="createTicketsErrors"></div>
    <%= f.text_field :comment %>
    <%= f.submit "参加する", class: "" %>
  <% end %>
<% end %>

<h5>参加者</h5>
<ul>
  <% @tickets.each do |ticket| %>
    <li>
      <% if ticket.user %>
        <%= "#{ticket.user.name}" %>
      <% else %>
        退会したユーザーです。
      <% end %>
    </li>
  <% end %>
</ul>